<div class="row">
  <div class="col-md-5">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row pad-left-right">
          <span class="title pull-left">Messages</span>
        </div>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-12">
            <div *ngIf="messages != null && messages.length > 0;else blank">
              <cms-message-item
                *ngFor="let mItem of messages"
                [message] = mItem
              ></cms-message-item>
            </div>
            <ng-template #blank>
              <div class="list-group-item clearfix">
                <span class="messageHeader">Alert</span>
                <div class="messageText">No Messages</div>
              </div>
            </ng-template>
          </div>
        </div>
      </div>
      <div class="panel-footer">
        <!--<cms-message-edit *ngFor="let m of messages" (addMessageEvent)="onAddMessage(m)"></cms-message-edit>-->
        <cms-message-edit (addMessageEvent)="onAddMessage($event)"></cms-message-edit>
      </div>
    </div>
  </div>
</div>
